<div *ngIf="automaton$ | async as automaton" style="width: 100%">
  <h1>
    <button mat-stroked-button routerLink="/automata">Back to Automata</button>
    {{automaton.name}}
  </h1>
  <div class="row">
    <div class="column padding-and-margin">
      <h2>Transitions</h2>
      <form *ngIf="transitionForm" [formGroup]="transitionForm" (ngSubmit)="addTransition(automaton)">
        <div class="input-field-wrapper">
          <mat-form-field>
            <input matInput placeholder="State" formControlName="state" (change)="trimTextFieldAndRemoveSequentialWhitespaces(stateControl)">
            <mat-error *ngIf="stateControl.touched && stateControl.hasError('required') && stateControl.touched">
              The state cannot be empty.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Input" formControlName="input" (change)="trimTextFieldAndRemoveSequentialWhitespaces(inputControl)">
            <mat-error *ngIf="inputControl.touched && inputControl.hasError('required') && inputControl.touched">
              The input cannot be empty.
            </mat-error>
            <mat-error *ngIf="inputControl.touched && inputControl.hasError('maxlength') && inputControl.touched">
              The input can only be one character.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Next State" formControlName="next_state" (change)="trimTextFieldAndRemoveSequentialWhitespaces(nextStateControl)">
            <mat-error
              *ngIf="nextStateControl.touched && nextStateControl.hasError('required') && nextStateControl.touched">
              The next state cannot be empty.
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="isTransitionFormValueRedundant$ | async" style="color: red;">
          There is already a transition from the state "{{stateControl.value}}" for the input "{{inputControl.value}}"
        </div>
        <div class="row">
          <button mat-button type="submit" [disabled]="(isTransitionFormValueRedundant$ | async) || transitionForm.invalid">
            Add Transition
          </button>
          <button type="button" mat-stroked-button (click)="minimize(automaton)">
            Minimize
          </button>
        </div>
      </form>
    </div>
    <div class="column padding-and-margin" cdkDropListGroup>
      <mat-list>
        <div mat-subheader>Test Cases</div>
        <div cdkDropList class="drag-and-drop-list" (cdkDropListDropped)="dropTestCase(automaton, $event)">
          <mat-list-item class="drag-and-drop-item" *ngFor="let result of testCaseResults$ | async" cdkDrag>
            <mat-icon mat-list-icon [style]="getTestResultIndicatorStyle(result)">{{ getTestResultIndicatorIcon(result) }}</mat-icon>
            <div mat-line>{{result.testCase.test_input}}</div>
            <div mat-line>Expectation: {{result.testCase.expectation ? 'Accept' : 'Reject'}}</div>
            <button mat-icon-button matTooltip="Simulate" (click)="simulate(result)" [disabled]="result.testStatus === 'undefined'">
              <mat-icon>play_arrow</mat-icon>
            </button>
          </mat-list-item>
        </div>
        <div style="color: red" *ngIf="testCaseError$ | async as error">
          <span *ngIf="error === 'missing_start_state'">The automaton is missing a start state. Test cases could not be executed.</span>
          <span *ngIf="error === 'input_not_accepted'">The server could not execute the tests. Probably the automaton is not valid yet.</span>
          <span *ngIf="error === 'server_unreachable'">The server could not be reached in order to execute the tests. It might be offline.</span>
        </div>
      </mat-list>
      <form *ngIf="testCaseForm" [formGroup]="testCaseForm" (ngSubmit)="addTestCase(automaton)">
        <div class="input-field-wrapper">
          <mat-form-field>
            <input matInput placeholder="Test Input" formControlName="test_input" (blur)="removeWhitespacesFromTextField(testInputControl)">
            <mat-error *ngIf="testInputControl.hasError('noneOf')&& testInputControl.touched">
              There already exists an test case with the input "{{testInputControl.value}}". Please add only unique test case strings.
            </mat-error>
          </mat-form-field>
          <mat-checkbox placeholder="Expectation" formControlName="expectation">
            Expect input to be accepted
          </mat-checkbox>
        </div>
        <button mat-button type="submit" [disabled]="testCaseForm.invalid">Add Test Case</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="column" style="margin: 10pt">
      <app-automaton-network-graph [automaton$]="automaton$" [isSelectionEnabled]="true"
                                   [(selection)]="currentSelection"></app-automaton-network-graph>
      <h3 style="margin: 0 10pt">
        Move the cursor into the graph, hold the left mouse while draggin the cursor around in order to navigate.
      </h3>
      <h3 style="margin: 0 10pt">
        Click on a state or transition to perform actions on it. The actions will then be shown on the right side.
      </h3>
    </div>
    <div class="full-width-button-list">
      <button mat-raised-button color="accent" (click)="addCurrentSelectionToAcceptingStates(automaton)"
              *ngIf="isCurrentSelectionADenyingState(automaton)">
        Set as accept state
      </button>
      <button mat-raised-button color="accent" (click)="removeCurrentSelectionFromAcceptingStates(automaton)"
              *ngIf="isCurrentSelectionAnAcceptingState(automaton)">
        Set as rejecting state
      </button>
      <button mat-raised-button color="primary" (click)="setCurrentSelectionAsStartState(automaton)"
              *ngIf="canCurrentSelectionBeSetAsAcceptingState(automaton)">
        Set as start state
      </button>
      <button mat-raised-button color="warn" (click)="removeCurrentSelection(automaton)"
              *ngIf="currentSelection !== undefined">
        Remove selection
      </button>
    </div>
  </div>
</div>
