.row {
  display: flex;
  flex-direction: row;

  * {
    flex-grow: 1;
  }
}

// We have to use ng-deep because the chart is not defined by any of our Angular components but rather the chart library.
.column, ::ng-deep div.ngx-charts-outer {
  margin: 10pt;
  padding: 10pt;
  border: 2pt solid black;
}

mat-form-field {
  display: block;
}

.drag-and-drop-list {
  cursor: move;

  // Copied from the Angular Material documentation about drag and drop.
  &.cdk-drop-list-dragging .drag-and-drop-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }
}

mat-error {
  display: block;
}

.full-width-button-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10pt;
  padding: 10pt;

  button {
    margin: 10pt 0;
  }
}

